# API
api/node_modules
api/dist
api/.env

# DASHBOARD
dashboard/node_modules

# LANDING
landing/node_modules
landing/.nuxt

# SERVER BUILDER WORKER
server-builder/node_modules
server-builder/dist
server-builder/.env

# RAND
.idea